[Unit]
Description = pi monitor daemon

[Service]
User = pi
Group = pi
WorkingDirectory = /home/pi/services/pimonitor/
ExecStart = /home/pi/services/pimonitor/.venv/bin/python /home/pi/services/pimonitor/7735.py
Restart = always
Type = simple

[Install]
WantedBy = multi-user.target
