[Unit]
Description = pi monitor daemon

[Service]
User = pi
Group = pi
WorkingDirectory = /foo/bar/pimonitor
ExecStart = /foo/bar/pimonitor/.venv/bin/python /foo/bar/pimonitor/7735.py
Restart = always
Type = simple

[Install]
WantedBy = multi-user.target
